.ss-faq-2 {
    * {
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        outline: none;
        min-width: unset;
        min-height: unset;
        max-width: unset;
        max-height: unset;
    }
    .ss-inner-container {
        background-color: rgba(var(--ss-section-background), 1);
        padding: 80px 20px;
        .ss-main-title-wrapper {
            .ss-main-title {
                font-weight: 700;
                font-size: 40px;
                line-height: 1.2;
                color: rgba(var(--ss-main-title-color), 1);
                text-align: center;
                margin-bottom: 60px;
            }
        }
        .ss-faqs-wrapper {
            max-width: 896px;
            margin: 0 auto;
            .ss-faq-wrapper {
                display: block;
                background-color: rgba(var(--ss-faq-card-background), 1);
                transition: all 0.3s ease-in-out;
                padding: 30px 20px;
                @media screen and (max-width: 749px) {
                    padding: 20px 20px;
                }
                transition: all 0.3s ease-in-out;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.050);
                &:first-child {
                    border-top: 1px solid rgba($color: #000000, $alpha: 0.050);
                }
                .ss-faq-question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    @media screen and (max-width: 749px) {
                        align-items: flex-end;
                    }
                    h3 {
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 120%;
                        color: rgba(var(--ss-section-text-color), 1);
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: 749px) {
                            flex-direction: column;
                            align-items: flex-start;
                            font-size: 25px;
                        }
                        gap: 20px;
                        .count {
                            font-weight: 700;
                            font-size: 48px;
                            line-height: 120%;
                            letter-spacing: 0.25px;
                            color: #9D96A8;
                            @media screen and (max-width: 749px) {
                                font-size: 38px;
                            }
                        }
                    }
                    .ss-svg-wrapper {
                        width: 50px;
                        height: 50px;
                        flex: 0 0 50px;
                        @media screen and (max-width: 749px) {
                            width: 40px;
                            height: 40px;
                            flex: 0 0 40px;
                        }
                        background: rgba(var(--ss-button-background-color),1);
                        box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgba(var(--ss-button-text-color), 1);
                        transform: rotate(0deg);
                        transition: all 0.3s ease-in-out;
                        &.plus-icon {
                            svg {
                                .line2 {
                                    transition: all 0.3s ease-in-out;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .ss-ans-outer {
                    height: 0px;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                    .ss-faq-answer { 
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 1.67;
                        color: rgba(var(--ss-section-text-color), 0.65);
                    }
                }
                &[open] {
                    background-color: rgba(var(--ss-faq-card-background-open), 1);
                    h3 {
                        color: rgba(var(--ss-section-text-color-open), 1);
                    }
                    .ss-faq-answer { 
                        color: rgba(var(--ss-section-text-color-open), 1);
                    }
                    .ss-svg-wrapper  {
                        transform: rotate(45deg);
                        background: rgba(var(--ss-button-background-color-open), 1); 
                        color: rgba(var(--ss-button-text-color-open), 1);
                        &.plus-icon {
                            svg {
                                .line2 {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}